<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>HOME</title>
</head>
<body>
    <header>
        <h1>Design de Casa</h1>
    </header>
    <nav>
        <div class="menu-icon">&#9776;</div>
        <ul>
            <li><a href="{% url 'index' %}">Início</a></li>
            <li><a href="{% url 'elementos_design' %}">Elementos de Design</a></li>
            <li><a href="#">Ferramentas</a></li>
            <li><a href="#">Materiais</a></li>
        </ul>
    </nav>

    <main>

        <section>
        <h2>Introdução</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, harum delectus facere tenetur iusto natus! Culpa sint amet rerum quo ipsa facilis eius quaerat suscipit iste. Numquam tenetur necessitatibus saepe?</p>
        <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, exercitationem itaque! Recusandae animi quod atque, velit tempora sint quibusdam, consectetur libero minus harum laudantium provident deserunt adipisci. Debitis, optio labore.
            Iusto illum aspernatur ipsum aut earum sunt, excepturi beatae facilis officiis recusandae id illo, corrupti porro ad culpa ipsam! Debitis accusamus aliquam praesentium id expedita voluptatem, neque quisquam fugiat soluta?
        </article>

        <section>
            <h2>Elementos de Design</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, harum delectus facere tenetur iusto natus! Culpa sint amet rerum quo ipsa facilis eius quaerat suscipit iste. Numquam tenetur necessitatibus saepe?</p>
            <article>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, exercitationem itaque! Recusandae animi quod atque, velit tempora sint quibusdam, consectetur libero minus harum laudantium provident deserunt adipisci. Debitis, optio labore.
                Iusto illum aspernatur ipsum aut earum sunt, excepturi beatae facilis officiis recusandae id illo, corrupti porro ad culpa ipsam! Debitis accusamus aliquam praesentium id expedita voluptatem, neque quisquam fugiat soluta?
            </article>

        <section>
            <h2>Ferramentas de Design</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, harum delectus facere tenetur iusto natus! Culpa sint amet rerum quo ipsa facilis eius quaerat suscipit iste. Numquam tenetur necessitatibus saepe?</p>
            <article>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, exercitationem itaque! Recusandae animi quod atque, velit tempora sint quibusdam, consectetur libero minus harum laudantium provident deserunt adipisci. Debitis, optio labore.
                Iusto illum aspernatur ipsum aut earum sunt, excepturi beatae facilis officiis recusandae id illo, corrupti porro ad culpa ipsam! Debitis accusamus aliquam praesentium id expedita voluptatem, neque quisquam fugiat soluta?
            </article>
            
        <section>
            <h2>Materiais</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, harum delectus facere tenetur iusto natus! Culpa sint amet rerum quo ipsa facilis eius quaerat suscipit iste. Numquam tenetur necessitatibus saepe?</p>
            <article>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, exercitationem itaque! Recusandae animi quod atque, velit tempora sint quibusdam, consectetur libero minus harum laudantium provident deserunt adipisci. Debitis, optio labore.
                Iusto illum aspernatur ipsum aut earum sunt, excepturi beatae facilis officiis recusandae id illo, corrupti porro ad culpa ipsam! Debitis accusamus aliquam praesentium id expedita voluptatem, neque quisquam fugiat soluta?
            </article>
        </section>

        <section>
            <h2>Vídeo institucional</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jK1a0-lbo5k?si=Sl_cAlsU21nMYElQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>

    </main>

    <footer>
        <p>&copy; 2023 Design de Casa</p>
    </footer>

    <script>
        document.querySelector(".menu-icon").addEventListener("click", function() {
            document.querySelector("nav ul").classList.toggle(".show");
        })  
    </script>

</body>
</html>